.section_one_container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	/* box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.1), inset -3px -3px 5px rgba(0, 0, 0, 0.5); */
}

.card_spacer {
	padding: 20px 1vw;
}

@media (max-width: 750px) {
	.section_one_container {
		flex-direction: column;

		background: transparent;
	}
}
