.icon_container {
	display: flex;

	align-items: center;
	width: 60px;
	height: 50px;
}

.toggle_icon_hamburger {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	width: 60px;
	height: 50px;
	color: blue;
	cursor: pointer;
	transition: All 300ms;
}

.toggle_icon_x {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-left: 12px;
	transition: All 300ms;
	color: red;
	background: #f2f2f5;
	border-radius: 50%;
	border: 2px solid #f2f2f5;
	font-size: 16px;
	box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1),
		inset 0 0 7px rgba(0, 0, 0, 0.1), inset 0 0 7px rgba(0, 0, 0, 0.2);
	height: 35px;
	width: 35px;
}
