.createTicketContainer {
	height: 99%;
	padding-bottom: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.widthAdjustment {
	width: 90%;
	margin: auto;
}

.headerTitle {
	text-align: center;
	font-size: 18px;
	font-weight: 500px;
}

.stepOneContainer {
	border-radius: 10px;
	width: fit-content;
	margin: auto;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	color: var(--color-primary-100);
}

.step_one_heading {
	margin-bottom: 20px;
	font-size: 2em;
}

.ticketTypeContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.notActive {
	display: grid;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, var(--color-primary-700), var(--color-primary-600));
	color: var(--color-primary-100);
	font-size: 16px;
	font-weight: 500;
	border-radius: 10px;
	padding: 10px 20px;
	width: 200px;
	transition: all 300ms;
	margin: 10px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 3px 3px 3px rgba(255, 255, 255, 0.3);
}
.notActive:hover {
	background: linear-gradient(to right, var(--color-primary-700), var(--color-primary-600));
}

.active {
	display: grid;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, var(--color-primary-300), var(--color-primary-100));
	color: var(--color-primary-600);
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	padding: 10px 20px;
	width: 200px;
	transition: all 300ms;
	margin: 10px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3), inset 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.buttonContainer {
	display: flex;
	width: 100%;
	padding: 20px;
	justify-content: center;
}

.successMessage {
	background-color: #81c784;
	color: white;
	font-weight: 600;
	padding: 20px;
	margin: 20px;
}
