.ticketsContainer {
	height: 100%;
	width: auto;
	overflow-y: auto;
	padding: 30px;
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.ticketsContainer::-webkit-scrollbar-track {
	background: #f8f8f800;
}

.ticketsContainer::-webkit-scrollbar-thumb {
	background: #f8f8f83b;
}
.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 100%;
	font-size: 12px;
	height: 60px;
	padding: 10px;
	background: var(--blk-light);
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), inset 3px 3px 3px rgba(255, 255, 255, 0.3);
}

.card:hover {
	background: #9174d8;
	color: white;
	cursor: pointer;
	transform: scale(0.99);
}

.ticketTypeIconContainer {
	display: grid;
	justify-content: center;
	width: 25px;
	height: 25px;
	background: #f92e49;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), inset 1px 1px 3px rgba(255, 255, 255, 0.4),
		inset -1px -1px 3px rgba(0, 0, 0, 0.4);
}
.ticketTypeIcon {
	display: grid;
	justify-content: center;
	align-items: center;
	color: transparent;
	stroke: white;
	stroke-width: 50;
}

.ticketProject {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	color: #f1f9f9;
	width: 30%;
	height: 100%;
	font-size: 14px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), inset 1px 1px 3px rgba(255, 255, 255, 0.4),
		inset -1px -1px 3px rgba(0, 0, 0, 0.3);
}

.ticketProject:hover {
	filter: brightness(0.2);
	transform: scale(0.97);
}

.development {
	color: #d36f6f;
	font-size: 10px;
	transform: scale(0.9);
}

/* .statusOpen {
	background: #66ba93;
	text-align: center;
	color: white;
	font-weight: 400;
	width: 10%;
	border-radius: 30px;
}

.statusClosed {
	background: red;
	text-align: center;
	color: white;
	font-weight: 400;
	width: 10%;
	border-radius: 30px;
} */

.bodyItemsContainer {
	display: flex;
	justify-content: space-between;
}

.ticketDate {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	color: #f1f9f9;
	width: 15%;
	height: 100%;
	font-size: 14px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), inset 1px 1px 3px rgba(255, 255, 255, 0.4),
		inset -1px -1px 3px rgba(0, 0, 0, 0.3);
}

.ticketDate:hover {
	filter: brightness(0.2);
	transform: scale(0.97);
}

.ticketTitle {
	display: flex;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	color: #f1f9f9;
	width: 40%;
	height: 100%;
	overflow-x: auto;
	font-size: 14px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), inset 1px 1px 3px rgba(255, 255, 255, 0.4),
		inset -1px -1px 3px rgba(0, 0, 0, 0.3);
}
.ticketTitle:hover {
	filter: brightness(0.1);
	transform: scale(0.98);
}
.editIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	color: #f1f9f9;
	width: 8%;
	height: 100%;
	cursor: pointer;
	font-size: 14px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), inset 1px 1px 3px rgba(255, 255, 255, 0.4),
		inset -1px -1px 3px rgba(0, 0, 0, 0.3);
}

.editIcon:hover {
	filter: brightness(0.9);
	transform: scale(0.9);
}
.trashIcon {
	color: red;
	margin: 10px;
	cursor: pointer;
	font-size: 16px;
	transition: 500ms;
}

.trashIcon:hover {
	filter: brightness(0.9);
	transform: scale(1.2);
	transition: 500ms;
}

.createTicketButton {
	height: 40px;
	padding: 8px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid white;
	cursor: pointer;
	transition: 500ms;
	outline: none;
}

.createTicketButton:hover {
	filter: brightness(0.9);
}
