.profile_info_container {
	display: grid;
	position: relative;
	width: 100%;
	border-radius: 10px;
	padding: 30px;
	background: var(--color-primary-800);
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.05), 1px -1px 2px 1px rgba(0, 0, 0, 0.05);
}

.avatar {
	padding-bottom: 20px;
}

.title {
	display: grid;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	width: 100%;
	color: var(--color-primary-100);
	border-bottom: 2px solid var(--color-primary-700);
	padding-bottom: 20px;
}
.full_screen {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
}
.edit_profile_success {
	display: flex;
	position: absolute;
	top: 5px;
	left: 15px;
	align-items: center;
	width: auto;
	max-width: fit-content;
	padding: 10px 30px;
	border-radius: 10px;
	height: 50px;
	background: #20cc82;
	color: var(--color-primary-700);
	font-weight: 500;
	margin-top: 20px;
	opacity: 1;
	transition: all 11500ms;
}

.none {
	transition: all 1500ms;
	opacity: 0;
	display: none;
}

.editButtonContainer {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: var(--color-primary-700);
	color: var(--color-primary-800);
	padding: 10px;
	font-weight: 600;
	border-radius: 10px;
	cursor: pointer;
	/* transition: all 300ms; */
	text-decoration: none;
}

.editButtonContainer:hover {
	filter: brightness(1.1);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.user_info_section {
	display: grid;
	grid-gap: 0.3em;
	padding: 20px;
}

.profile_input {
	display: flex;
	width: 100%;
	height: auto;
	font-size: 14px;
	border-radius: 5px;
}

.label {
	color: #5d7290;
	font-weight: 500;
	font-size: 14px;
	width: 100px;
}

.span {
	color: var(--color-primary-100);
	font-size: 16px;
	font-weight: 500;
}

.friend_options_container {
	display: flex;
}
.friend_options_button {
	max-width: fit-content;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 10px;
	font-weight: 500;
	background: var(--color-primary-600);
	color: #fffff0;
	cursor: pointer;
}

.friend_options_button:hover {
	filter: brightness(1.4);
	transform: scale(0.95);
}
