.profile_info_container {
	display: grid;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 30px;
	background: #2b2b29;
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.05), 1px -1px 2px 1px rgba(0, 0, 0, 0.05);
}

.avatar {
	padding-bottom: 20px;
}

.title {
	display: grid;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	width: 100%;
	color: white;
	border-bottom: 1px solid blue;
	padding-bottom: 20px;
}

.editButtonContainer {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 37px;
	background: #1877f2;
	color: white;
	font-weight: 500;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
	transition: all 500ms;
}

.editButtonContainer:hover {
	filter: brightness(1.2);
}

.user_info_section {
	display: grid;
	grid-gap: 0.3em;
	padding: 20px;
}

.profile_input {
	display: flex;
	width: 100%;
	height: auto;
	font-size: 14px;
	border-radius: 5px;
}

.label {
	color: white;
	font-weight: 500;
	font-size: 16px;
	width: 100px;
}

.span {
	color: blue;
	font-size: 16px;
	font-weight: 500;
}
