.profile_info_container {
	display: grid;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 30px;
	background: #2b2b29;
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.05), 1px -1px 2px 1px rgba(0, 0, 0, 0.05);
}

.title {
	display: grid;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	width: 100%;
	color: white;
	border-bottom: 1px solid blue;
}

.user_info_section {
	display: grid;
	grid-gap: 0.3em;
	margin-top: 10px;
}

.profile_data_item {
	display: flex;
	width: auto;
	align-items: center;
}

.profile_input {
	width: 100%;
	height: auto;
	font-size: 14px;
	border-radius: 5px;
}

.label {
	color: white;
	font-weight: 500;
	font-size: 16px;
}

.span {
	color: blue;
	font-size: 16px;
	font-weight: 500;
}
