.loginFormContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 10px;
	padding: 5vw;
	background: var(--color-primary-800);
	border: 1px solid var(--color-primary-600);
}

.loginHeaderContainer {
	padding: 2px;
}

.loginTitle {
	display: grid;
	color: var(--color-primary-100);
	width: fit-content;
	letter-spacing: 2px;
	padding-bottom: 3px;
	margin-block-end: auto;
	border-bottom: 5px solid var(--color-accent);
}

.error_text {
	display: flex;
	margin: auto;
	position: relative;
	background: #ff9595d2;
	width: auto;
	padding: 5px;
	margin-top: 20px;
	font-size: 12px;
	margin-bottom: -60px;
	border-radius: 10px;
}

.logout_button {
	padding: 5px 10px;
	border-radius: 10px;
	background: #484848;
	color: white;
	cursor: pointer;
}

.formContainer {
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	margin-top: 60px;
}

.inputBox {
	display: flex;
	flex-direction: column;
}

.inputSpan {
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	text-align: left;
	font-size: 16px;
	color: var(--color-primary-200);
	font-weight: 300;
	letter-spacing: 1px;
}
.input_label {
	font-size: 16px;
	font-weight: 500;
	color: var(--color-primary-200);
}
.input {
	width: 330px;
	padding: 10px 20px;
	outline: none;
	font-weight: 500;
	border: 1px solid var(--clr-grey-blue);
	font-size: 18px;
	letter-spacing: 1.2px;
	color: var(--color-primary-200);
	border-radius: 10px;
	background: var(--color-primary-600);
}

.input:focus {
	outline: var(--clr-darkblue);
}

.inputSubmit {
	padding: 15px 20px;
	outline: none;
	font-weight: 600;
	border: none;
	font-size: 18px;
	letter-spacing: 1px;
	color: #fff;
	background: var(--color-secondary);
	border-radius: 10px;
	margin-top: 45px;
	width: 90%;
	cursor: pointer;
}

.inputSubmit:hover {
	background: var(--color-secondary-washed-out);
}

.registerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
	font-size: 12px;
	color: var(--color-primary-100);
}
.registerButton {
	border: 2px solid var(--color-accent-hover);
	background: var(--color-accent);
	color: var(--color-primary-100);
	font-size: 16px;
	font-weight: 600;
	width: 250px;
	padding: 10px 10px;
	border-radius: 10px;
	cursor: pointer;
}

.registerButton:hover {
	background: var(--color-accent-hover);
}
/* Small Tablet Styles */
@media screen and (min-width: 620px) {
}

/* Large Tablet and Laptop Styles */
@media screen and (min-width: 960px) {
}
