.loginFormContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 500px;
	text-align: center;
	background: var(--color-primary-800);
	border: 1px solid var(--color-primary-600);
	padding: 20px;
	border-radius: 10px;
	/* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 10px rgba(255, 255, 255, 0.3); */
}

.loginHeaderContainer {
	margin-top: 10px;
}

.welcome_back_username_span {
	color: blue;
	font-style: italic;
	font-weight: 500;
}

.not_correct_user_question {
	margin-top: 20px;
}

.logout_button {
	padding: 5px 10px;
	border-radius: 10px;
	background: #484848;
	color: white;
	cursor: pointer;
}

.formContainer {
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.loginTitle {
	display: grid;
	letter-spacing: 2px;
	margin-block-end: auto;
	padding-bottom: 3px;
	border-bottom: 5px solid var(--color-accent);
	width: fit-content;
}

.inputBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.inputSpan {
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	text-align: left;
	font-size: 16px;
	color: var(--color-primary-200);
	font-weight: 300;
	letter-spacing: 1px;
}
.input_label {
	font-size: 16px;
	font-weight: 500;
	color: var(--color-primary-200);
}
.input {
	width: 330px;
	padding: 10px 20px;
	outline: none;
	font-weight: 500;
	border: 1px solid var(--clr-grey-blue);
	font-size: 18px;
	letter-spacing: 1.2px;
	color: var(--color-primary-200);
	border-radius: 10px;
	background: var(--color-primary-600);
}

.input:focus {
	outline: var(--clr-darkblue);
}

.inputSubmit {
	padding: 15px 20px;
	outline: none;
	font-weight: 600;
	border: none;
	font-size: 18px;
	letter-spacing: 1px;
	color: #fff;
	background: var(--color-secondary);
	border-radius: 10px;
	margin-top: 35px;
	width: 90%;
	cursor: pointer;
}

.inputSubmit:hover {
	background: var(--color-secondary-washed-out);
}

.registerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}
.registerButton {
	border: 2px solid var(--color-accent-hover);
	background: var(--color-accent);
	color: var(--color-primary-100);
	font-size: 16px;
	font-weight: 600;
	width: 250px;
	padding: 10px 10px;
	border-radius: 10px;
	cursor: pointer;
}

.registerButton:hover {
	background: var(--color-accent-hover);
}
/* Small Tablet Styles */
@media screen and (min-width: 620px) {
}

/* Large Tablet and Laptop Styles */
@media screen and (min-width: 960px) {
}
