/*  ----- MOBILE ----- */
.app_container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 70px 1fr;
	position: relative;
	width: 100vw;
	height: 100vh;
	transition: all 500ms;
}

.appbartop_container {
	display: grid;
	grid-column: 1/3;
	grid-row: 1/2;
	width: 100%;
	position: relative;
}

.togglebutton_wrapper {
	display: flex;
	position: absolute;
	align-items: center;
	width: 60px;
	height: 70px;
	overflow: hidden;
	z-index: 99;
	background: var(--blk);
}

.sidebar {
	grid-column: 1/2;
	grid-row: 2/3;
	width: auto;
	/* background: #2e2e79; */
	transition: all 500ms;
}

.sidebar_closed {
	grid-column: 1/2;
	grid-row: 2/3;
	/* background: #2e2e79; */
	height: 100%;
	transition: all 500ms;
}

.main_wrapper {
	grid-column: 2/3;
	display: grid;
	width: 100%;
	overflow-y: auto;
}

/*  ----- TABLET ----- */
@media (max-width: 500px) {
	.grid {
		grid-template-columns: minmax(20px, auto) 1fr;
	}

	.sidebar_open {
		grid-column: 1/2;
		grid-row: 2/3;
		width: 100vw;
		height: 100%;
		/* background: #242221d7; */
		transition: all 500ms;
		position: absolute;
		top: 0;
	}

	.sidebar_closed {
		grid-column: 1/2;
		grid-row: 2/3;
		width: 60px;
		transition: all 500ms;
		/* background: #2e2e79; */
		position: absolute;
		width: 0;
		top: 0;
		left: -100px;
		height: 100%;
	}
}
/* 
	.sidebarContainer {
		position: relative;
		grid-row: 1/3;
		grid-column: 1/2;
		width: 60px;
		height: 100%;
	}
	.openSidebarContainer {
		position: relative;
		grid-row: 1/3;
		grid-column: 1/2;
		width: 220px;
		height: 100vh;
		transition: All 300ms;
	}

	.column_two {
		grid-column: 2/3;
		grid-row: 1/3;
		width: calc(100vw - 60px);
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50px 160px 1fr;
	}
	.header_container {
		grid-row: 1/2;
		grid-column: 2/3;
		height: 50px;
	}
	.main_view_container {
		grid-column: 2/3;
		grid-row: 2/3;
	}
} */

/*  ----- LAPTOP / DESKTOP ----- */

/* @media (min-width: 840px) { */
/* no changes necessary */
/* } */

/* .sidebar {
	position: relative;
	width: 0;
	height: 100vh;
	transition: All 300ms;
	z-index: 99;
} */
