.dataFieldContainer {
	display: flex;
	gap: 30px;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
}

.dataFieldContainer:hover {
	background: linear-gradient(var(--color-primary-700), var(--color-primary-600));
}

.label {
	color: var(--color-primary-300);
	font-size: 14px;
	font-weight: 500;
	max-width: 120px;
	min-width: 100px;
	text-align: right;
}

.dataField {
	display: flex;
	flex-wrap: wrap;
	color: var(--color-primary-100);
	font-weight: 500;
	height: auto;
	width: 100%;
}
