.chooseProjectContainer {
	width: fit-content;
	text-align: center;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;
}

.projectsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.notActive {
	display: grid;
	align-items: center;
	color: white;
	background: rgb(120, 120, 120);
	padding: 2px 20px;
	border-radius: 10px;
	min-width: 130px;
	cursor: pointer;
	text-align: center;
	margin: 10px;
}
.notActive:hover {
	filter: brightness(0.8);
}

.active {
	display: grid;
	align-items: center;
	border: 1px solid green;
	font-size: 12px;
	background: white;
	color: green;
	min-width: 130px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	margin: 10px;
}
