.projects_page_container {
	display: grid;
	flex-direction: column;
	align-content: flex-start;
	width: 100%;
	height: 100%;
	padding: 30px;
	background: #c1c1c983;
	box-shadow: 1px 3px 9px rgb(0 0 0 / 20%), 3px 1px 12px rgb(0 0 0 / 20%);
}

.projects_container {
	height: 100%;

	overflow-y: auto;
	margin: 30px;
	margin-top: 20px;
	-webkit-overflow-scrolling: touch;
}

.header {
	display: flex;
	align-items: flex-end;
	margin: auto;
	width: 90%;
	height: 45px;
	border-bottom: 2px solid rgba(128, 128, 128, 0.527);
}

.header_title {
	font-size: 14px;
}
.ticketsContainer::-webkit-scrollbar-track {
	background: #f8f8f800;
}
.ticketsContainer::-webkit-scrollbar-thumb {
	background: #f8f8f83b;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 100%;
	font-size: 12px;
	height: auto;
	min-height: 60px;
	padding: 10px;
	color: var(--color-primary-100);
	background: var(--color-primary-700);
	margin-bottom: 20px;
	border-radius: 5px;
}

.icon_container {
	transition: all 500ms;
	display: grid;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	border-radius: 5px;
	margin: 7px;
	padding: 5px 10px;
}

.icon_container:hover {
	cursor: pointer;
}

.new_ticket_text {
	font-size: 12px;
	scale: 0.8;
	color: var(--color-primary-100);
}

.card:hover {
	background: var(--color-primary-700);
	cursor: grab;
}

.project_title {
	width: 20%;
	padding: 0px 5px;
}

.project_description {
	width: 50%;
	padding: 0px 5px;
}

.date {
	width: 45px;
}
.go_icon {
	text-align: center;
	transition: all 500ms;
	display: grid;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	background: rgb(136, 216, 192);
	border-radius: 5px;
	margin-right: 7px;
	padding: 7px 10px;
	cursor: pointer;
	color: black;
	box-shadow: 1px 1px 3px rgb(80, 128, 113);
}

.go_icon:hover {
	box-shadow: inset 1px 1px 3px rgb(80, 128, 113);
}
