.card_container {
	width: 350px;
	height: 130px;
	background: #f2f2f5;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 1px 3px 1px rgb(0 0 0 / 30%);
}

.card_container:hover {
	background: #9174d8;
}

.card_title {
	font-size: 20px;
	background: white;
	font-weight: 500;
	text-align: center;
	width: 100%;
	padding: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.card_content {
	display: flex;
	justify-content: space-evenly;
	max-height: 100%;
	align-content: center;
}

.card_content_item {
	padding: 5px;
	margin-top: 10px;
}

.card_sub_title {
	font-weight: 400;
}

.absent_subtitle {
	display: hidden;
	height: 24px;
}

.card_quantity {
	font-size: 2em;
	color: blue;
	font-weight: 600;
	text-align: center;
	padding: 10px;
}

@media (min-width: 454px) {
	.card_container {
		width: 400px;
		height: 152px;
	}
}
