.profilePageContainer {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	padding: 30px;
	position: relative;
	width: 100%;
	max-width: 1200px;
}

.profile_info_container {
	display: grid;
	width: 100%;
	border-radius: 10px;
	padding: 30px;
	background: var(--color-primary-800);
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.05), 1px -1px 2px 1px rgba(0, 0, 0, 0.05);
}

.avatar {
	padding-bottom: 20px;
}

.title {
	display: grid;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	width: 100%;
	color: var(--color-primary-100);
	border-bottom: 2px solid var(--color-primary-300);
	padding-bottom: 20px;
}

.cancel_edit_button {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	background: var(--color-accent);
	color: var(--color-primary-800);
	font-weight: 600;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
	filter: none;
	transition: all 300ms;
}

.cancel_edit_button:hover {
	filter: brightness(1.2);
}

.submit_button {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	background: var(--color-primary-700);
	color: var(--color-primary-800);
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
	margin-bottom: 10px;
	border: none;
	border-radius: 10px;
	filter: none;
	transition: all 300ms;
}

.submit_button:hover {
	filter: brightness(1.2);
}

.editButtonContainer:hover {
	filter: brightness(1.2);
}

.user_info_section {
	display: grid;
	grid-gap: 0.3em;
	padding: 20px;
}

.profile_input_item {
	display: flex;
	width: 100%;
	height: auto;
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 5px;
}

.label {
	color: var(--color-primary-300);
	font-weight: 500;
	font-size: 16px;
	width: 100px;
}

.profile_input {
	padding: 5px;
	background: white;
	font-size: 18px;
	font-weight: 500;
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.5), 0 0 6px rgba(255, 255, 255, 0.5);
}

.profile_input:focus {
	background: lightblue;
	border: 2px solid white;
	transform: scale(0.99);
}

.span {
	color: var(--color-primary-100);
	font-size: 18px;
	font-weight: 500;
}
