.project_container {
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding: 20px;
}

.dataFieldContainer {
	max-width: 800px;
	height: auto;
	padding: 20px;
	margin: auto;
	border-radius: 5px;
	margin-bottom: 15px;
	background: #f6f6f7;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.header {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 2 0px;
}

.input_container {
	display: grid;
	margin-bottom: 20px;
}

.label {
	color: black;
	font-weight: 500;
}

.text {
	font-size: 12px;
	transform: scale(0.9);
}

.dataField {
	border: none;
	width: auto;
	background-color: #f9f9f9;
	color: black;
	margin-top: 5px;
	height: 30px;
	padding: 6px;
	font-size: 12px;
	border-radius: 5px;
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
}
.textarea {
	border: none;
	width: auto;
	background-color: #f9f9f9;
	color: black;
	margin-top: 5px;
	padding: 6px;
	font-size: 12px;
	border-radius: 5px;
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.radio_buttons {
	display: flex;
	align-items: center;
	border: none;
	outline: none;
}

.submit_button {
	width: 100%;
	/* background-color: #66ba93; */
	background-color: var(--color-primary-700);
	color: white;
	font-size: 16px;
	font-weight: 700;
	padding: 8px;
	border-radius: 5px;
}

.submit_button:hover {
	filter: brightness(1.1);
	border: 1px solid grey;
}
