.create_project_grid {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
}

.create_project_form_container {
	width: 90%;
	max-width: 800px;
	height: 100%;
	margin: 50px;
	padding: 8vw;
	border-radius: 10px;
	background: var(--color-primary-800);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

/* .dataFieldContainer {
	max-width: 800px;
	height: auto;
	padding: 20px;
	margin: auto;
	border-radius: 5px;
	margin-bottom: 15px;
	background: #f6f6f7;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
} */

.header {
	font-size: 24px;
	font-weight: 500;
	padding: 10px;
	margin-top: -20px;
	margin-bottom: 10px;

	/* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
	border-left: 5px solid var(--color-accent);
}

.input_container {
	display: grid;
	padding-top: 30px;
}

.label {
	color: black;
	font-weight: 500;
}

.text {
	font-size: 12px;
	transform: scale(0.9);
}

.dataField {
	border: none;
	width: auto;
	background-color: #f9f9f9;
	color: black;
	margin-top: 5px;
	height: 30px;
	padding: 6px;
	font-size: 12px;
	border-radius: 5px;
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 5px rgba(0, 0, 0, 0.1);
}

.textarea {
	width: auto;
	padding: 6px;
	margin-top: 5px;
	font-size: 12px;
	border: none;
	border-radius: 5px;
	color: black;
	background: #f9f9f9;
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.submit_button {
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	padding: 10px;
	margin-top: 50px;
	border: none;
	border-radius: 5px;
	color: var(--color-primary-800);
	background: var(--color-primary-700);
	cursor: pointer;
}

.submit_button:hover {
	filter: brightness(1.1);
	border: 1px solid grey;
}
