.sidebar_wrapper_closed {
	position: absolute;
	width: 0px;
	height: 100%;
	overflow: hidden;
	background: var(--color-primary-800);
	color: var(--color-primary-100);
	z-index: 99;
	transition: all 500ms;
}

.sidebar_wrapper_open {
	position: absolute;
	width: 100vw;
	height: 100%;
	overflow: hidden;
	background: var(--color-primary-800);
	color: var(--color-primary-100);
	z-index: 99;
	transition: all 500ms;
}

.togglebutton_wrapper {
	display: flex;
	align-items: center;
	width: 60px;
	height: 50px;
	overflow: hidden;
}

.ul {
	width: 220px;
	text-align: left;
	padding-inline-start: 0;
	background: var(--color-primary-800);
	color: var(--color-primary-100);
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}

/* TABLET */
@media (min-width: 500px) {
	.sidebar_wrapper_closed {
		position: relative;
		width: 60px;
		height: 100%;
		overflow: hidden;
		background: var(--color-primary-800);
		color: var(--color-primary-100);
		z-index: 99;
		transition: all 500ms;
	}

	.sidebar_wrapper_open {
		position: relative;
		width: 220px;
		height: 100%;
		overflow: hidden;
		background: var(--color-primary-800);
		color: var(--color-primary-100);
	}

	.togglebutton_wrapper {
		display: flex;
		align-items: center;
		width: 220px;
		height: 50px;
		overflow: hidden;
	}

	.ul {
		width: 220px;
		text-align: left;
		padding-inline-start: 0;
		height: 100%;
		overflow: hidden;
		cursor: pointer;
	}
}
