.welcome_page_container {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: var(--color-primary-800);
}

.title_text {
	padding: 10px;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: clamp(30px, 4vw, 50px);
	color: var(--color-secondary-washed-out);
}

.subtitle_text {
	margin-bottom: 50px;
	line-height: calc(3vw + 15px);
	text-align: center;
	font-weight: 500;
	font-size: calc(1vw + 10px);
	color: var(--color-primary-300);
}

.email_input_container {
	width: 90%;
	max-width: 300px;
	margin: 20px;
	border-bottom: 2px solid var(--color-primary-300);
}

.email_input_container:focus {
	border-bottom: 8px solid var(--fun-grn);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.button_container {
	display: flex;
}
.button {
	padding: 5px;
	width: clamp(100px, 10vw, 200px);
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: 500ms;
	background: var(--color-primary-900);
	color: var(--color-primary-700);
	box-shadow: 0 5px 5px rgb(0 0 0 / 50%), 0 1px 1px rgb(255 255 255 / 10%);
}
.login {
	border-right: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.register {
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.button:hover {
	cursor: pointer;
	transition: 500ms;
	box-shadow: 0 5px 5px rgb(0 0 0 / 40%), inset 0 1px 1px rgb(255 255 255 / 10%);
	background: var(--color-accent-hover);
}
