.welcome_page_container {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: var(--color-primary-900);
}

.site_name {
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: clamp(18px, 3vw, 24px);
	letter-spacing: 2px;
	color: var(--color-secondary-washed-out);
}

.content_container {
	display: grid;
	position: relative;
	align-items: center;
	width: 100vw;
	height: 100%;
	padding: calc(6vw + 100px) 6vw;
}

.subtitle_container {
	display: flex;
	align-items: center;
	text-align: center;
	max-width: 1000px;
	height: 100%;
	font-size: clamp(24px, 5vw, 46px);
	line-height: 6vw;
	color: var(--color-primary-100);
}

.subtitle {
	letter-spacing: 4px;
}

.hero_button_container {
	display: grid;
	justify-content: center;
	width: 100%;
	height: inherit;
}

.hero_button {
	color: white;
	border-radius: 10px;
	padding: 10px 16px;
	width: clamp(200px, 10vw, 400px);
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: 500ms;
	background: var(--color-accent);
	box-shadow: 0 5px 5px rgb(0 0 0 / 50%), inset 0 1px 1px rgb(255 255 255 / 10%);
}

.hero_button:hover {
	transition: 500ms;
	cursor: pointer;
	box-shadow: 0 5px 5px rgb(0 0 0 / 40%), inset 0 1px 1px rgb(255 255 255 / 10%);
	background: var(--color-accent-hover);
}

.heroButton:focus {
	background: #3e44af;
	border: none;
	outline: none;
	cursor: pointer;
}

.image {
	width: 100%;
}

/* Phone screens */
@media (max-width: 414px) {
	.text {
		color: grey;
		width: 350px;
	}
	.imageContainer {
		align-items: center;
	}
	.image {
		width: 300px;
	}
}

/* Tablet screens */
@media (min-width: 415px) and (max-width: 810px) {
	.welcomeContainer {
		display: grid;
		justify-items: center;
		width: 100vw;
		height: 100%;
	}
	.imageContainer {
		align-items: center;
	}
}
@media (min-width: 1000px) {
	.subtitle_container {
		line-height: 5vw;
	}
}
