.welcomeContainer {
	display: grid;
	grid-template-rows: 45vh 55vh;
	justify-items: center;
	width: 100vw;
	height: 100vh;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

.title {
	font-size: 36px;
	margin-bottom: 31px;
	color: var(--clr-darkblue);
}

.subtitleContainer {
	font-size: 18px;
	margin-bottom: 25px;
}

.text {
	font-size: 1rem;
	line-height: 1.1rem;
	margin-bottom: 29px;
	color: rgb(86, 86, 86);
	width: 400px;
}

.heroButton {
	color: white;
	border-radius: 10px;
	padding: 12px;
	width: 150px;
	cursor: pointer;
	transition: 500ms;
	background: var(--clr-darkblue);
	box-shadow: 0 5px 5px rgb(0 0 0 / 50%), inset 0 1px 1px rgb(255 255 255 / 10%);
}

.heroButton:hover {
	transition: 500ms;
	cursor: pointer;
	box-shadow: 0 5px 5px rgb(0 0 0 / 40%), inset 0 1px 1px rgb(255 255 255 / 10%);
	background: linear-gradient(rgba(137, 137, 255, 0.838), var(--clr-darkblue));
}

.heroButton:focus {
	background: #3e44af;
	border: none;
	outline: none;
	cursor: pointer;
}

.imageContainer {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-end;
	margin-top: 100px;
	width: 20em;
	height: 10em;
	/* border: 4px solid var(--clr-fun-fuscia);
	box-shadow: 0 1px 20px var(--clr-fun-fuscia), inset 1px 0 20px var(--clr-fun-fuscia); */
}

.imageContainer::before {
	content: '';
	position: absolute;
	background: var(--clr-darkblue);
	top: 120%;
	left: 0;
	width: 100%;
	height: 100%;

	transform: perspective(5em) rotateX(40deg);
	filter: blur(4em);
}

.image {
	width: 100%;
}

/* Phone screens */
@media (max-width: 414px) {
	.text {
		color: grey;
		width: 350px;
	}
	.imageContainer {
		align-items: center;
	}
	.image {
		width: 300px;
	}
}

/* Tablet screens */
@media (min-width: 415px) and (max-width: 810px) {
	.welcomeContainer {
		display: grid;

		justify-items: center;
		width: 100vw;
		height: 100%;
	}
	.imageContainer {
		align-items: center;
	}
}
