.button_background {
	position: absolute;
	right: calc(50% - 37px);
	top: -13px;
	background: var(--gold-gradient);
	border: 2px solid white;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.6);
	transition: all 500ms;
	cursor: pointer;
}

.button_background:hover {
	box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.7);
	border: 2px solid white;
}
.create_ticket_button {
	display: grid;
	position: absolute;
	justify-content: center;
	align-items: center;
	right: calc(50% - 28px);
	top: 8px;
	padding-bottom: 5px;
	background: white;
	border: 1px solid rgb(211, 211, 211);
	color: var(--blk);
	font-size: 2em;
	font-weight: 700;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	transition: all 500ms;
	box-shadow: inset 0 0 12px 3px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.8);
}

.create_ticket_button:hover {
	filter: brightness(0.9);
	border: 1px solid white;
	transform: scale(0.99);
}
