.layout {
	display: grid;
	position: relative;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	margin-top: 20px;
	padding: 0 10vw 10vw 10vw;
	width: 100%;
	height: auto;
	gap: 5vw;
}

.section_one {
	/* background: var(--color-primary-800); */
	display: flex;
	justify-content: center;
	border-radius: 10px;
	height: auto;
	width: 100%;
	max-width: 1200px;
	overflow-x: hidden;
}

.section_two {
	background: var(--color-primary-800);
	border-radius: 10px;
	height: auto;
	width: 100%;
	max-width: 1200px;
	max-height: 500px;
	max-height: -webkit-fill-available;
}
.section_three {
	background: var(--color-primary-800);
	border-radius: 10px;
	height: auto;
	width: 100%;
	max-width: 1200px;
	max-height: 500px;
	max-height: -webkit-fill-available;
}

@media (max-width: 750px) {
	.section_one {
		overflow: hidden;
		background: transparent;
		display: block;
		justify-content: center;
	}
}
