.users_card_component_wrapper {
	display: flex;
    flex-direction: column;
    position: relative;
    background: #f2f2f5;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 1px rgb(0 0 0 / 30%);
}

.floating_icon_container {
	grid-row: 3 / 4;
    display: flex;
    width: 100%;
	height: 0;

}

.floating_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -30px;
	color: white;
	border: 2px solid #f2f2f5;
	background: #66ba93;
	width: 28px;
	height: 28px;
	font-size: 12px;
	font-weight: 400;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 1px 3px 1px rgb(0 0 0 / 30%);
}

.floating_icon:hover {
	filter: brightness(1.2);
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.users_card_title {
	grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    height: 100%;
    color: black;
}

.number_of_users {
	grid-row: 2 / 3;
	display: flex;
	font-size: 30px;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	width: 100%;
}



