/* Login Page */
.login_page_container {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: var(--color-primary-900);
}

.link {
	position: absolute;
	top: 20px;
	left: 15px;
}

.buttonContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 110px;
	padding: 5px 12px;
	border-radius: 10px;
	background: var(--clr-darkblue);
}

.buttonContainer:hover {
	filter: brightness(1.2);
}

.buttonText {
	font-size: 16px;
	font-weight: 500;
	color: white;
}
