.profileNavbarContainer {
	display: flex;
	width: 100%;
	height: auto;
	padding: 3px 20px;
	border-top: 1px solid rgba(150, 148, 148, 0.568);
	border-top-right-radius: 10px;
	justify-content: space-between;
}

.navLeft {
	display: flex;
	align-items: center;
	width: 100%;
}

.navRight {
	display: flex;
	align-items: center;
	max-width: 100%;
}

.navTab {
	display: flex;
	align-items: center;
	height: 50px;
	border-radius: 10px;
	padding: 5px 15px;
	cursor: pointer;
	font-weight: 400;
	color: rgb(32, 32, 32);
	transition: all 500ms;
}

.navTab:hover {
	background: #f2f3f5;
}

.active {
	display: flex;
	align-items: center;
	border-bottom: 3px solid blue;
	color: blue;
	height: 50px;
	font-weight: 400;
	padding: 5px 15px;
}
